body {
    color: #333;
    background: #eee;
    font-size: 14px;
    margin: 0;
    padding: 0
}

body,
button {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #4f4f4f;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    outline: 0;
    cursor: pointer;
}

.center {
    text-align: center;
    color:white;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.menu {
    background: #1d1d1d;
    border: 4px solid #1d1d1d;
    max-width: 500px;
    margin: 5px auto;
    position: relative;
    min-height: 150px;
}

.title {
    color: #ffffff;
    background: #4f4f4f;
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    padding: 2% 5% 0 5%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.menu-title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    padding: 2% 2%;
    display: flex;
    justify-content: center;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.menu-option {
    color: rgb(255, 255, 255);
    background: 0 0;
    border: 1px solid rgb(84, 84, 84);
    font-size: 20px;
    line-height: 40px;
    width: 60%;
    margin: 20px auto;
    display: block
}

.menu-option.red-option {
    color: #c33;
    border-color: #c33;
}

.menu-option:hover {
    color: #fff;
    background: rgb(0, 0, 0)
}

.menu-option.red-option:hover {
    background-color: #c33
}

.menu-back {
    line-height: 30px;
    height: 30px;
    width: 30px;
    border: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0
}

.menu-back:hover {
    background: rgb(0, 0, 0)
}

.menu-list,.menu-text {
    font-size: 16px;
    width: 60%;
    color:white;
    margin: 20px auto
}

.menu-text img {
    max-width: 100%;

}

.menu-list li {
    margin: 10px auto
}

.sub-title {
    color: #ffffff;
    border-bottom: 3px solid #333;
    font-size: 18px;
    width: 60%;
    padding: 0 6px 6px 6px;
    margin: 30px auto 10px auto
}

.icon-arrow {
    display: block;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-right: 20px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent
}

.icon-menu {
    display: block;
    height: 0;
    width: 30px;
    margin: 0 auto;
    border-bottom: 5px solid #fff;
    position: relative
}

.icon-menu:after,.icon-menu:before {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    border-bottom: 5px solid #fff
}

.icon-menu:before {
    top: -10px
}

.icon-menu:after {
    bottom: -15px
}

#game-board {
    margin: 30px auto;
    text-align: center
}

#game-turn {
    font-size: 28px;
    text-align: center;
    color:white;
}

#game-score {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    color:white;
}

.score-cell {
    width: 33.33%;
    float: left
}

.square {
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
    cursor: pointer
}

.square.marked {
    cursor: default
}

.square span,.square:after {
    font-size: 64px;
    line-height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.turn-x .square:hover:after {
    content: "X"
}

.turn-o .square:hover:after {
    content: "O"
}

#game-board .square.marked:after {
    content: ""
}

.mark-x,.turn-x .square:hover:after {
    color: #39c
}

.mark-o,.turn-o .square:hover:after {
    color: #c33
}

.row {
    height: 100px;
    width: 306px;
    margin: 0 auto
}

.game-over .row, .single-player.turn-o .row {
    pointer-events: none
}

#row1,#row2 {
    border-top: 3px solid #666
}

#s1,#s2,#s4,#s5,#s7,#s8 {
    border-right: 3px solid #666
}

.ad-container {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px
}

@media (max-width:1000px) {
    .menu {
        margin: 0
    }
}

@media (max-width:800px) {
    .menu-title {
        font-size: 20px
    }
    .menu-list,.menu-option,.menu-text,.sub-title {
        width: 90%
    }
}